In [ ]:
import sqlite3
import psycopg2
import unicodedata
import pandas as pd
from glob import glob
from sqlalchemy import create_engine, text
from sqlalchemy.engine.url import make_url

In [ ]:
sqlite_df = pd.DataFrame({
    "sqlite_paths": glob("spider_data/database/*/*.sqlite")
})
sqlite_df

In [ ]:
sqlite_df['schema_name'] = sqlite_df['sqlite_paths'].str.extract(r'spider_data/database/(.*?)/(.*?)\.sqlite')[0]
sqlite_df

In [ ]:

POSSIBLE_ENCODINGS = ("utf-8", "cp1252", "latin1")

def _to_utf8(x):
    if isinstance(x, (bytes, bytearray)):
        for enc in POSSIBLE_ENCODINGS:
            try:
                return x.decode(enc)
            except Exception:
                pass
        return x.decode("utf-8", errors="replace")
    return x

def load_sqlite_data(sqlite_path):
    engine = create_engine(f"sqlite:///{sqlite_path}")
    df = pd.read_sql("SELECT * FROM sqlite_master WHERE type='table'", engine)

    return df

def load_data(sqlite_path, table_name):
    con = sqlite3.connect(sqlite_path)
    con.text_factory = bytes  # return TEXT as bytes so we control decoding
    try:
        df = pd.read_sql_query(f'SELECT * FROM "{table_name}"', con)
    finally:
        con.close()

    obj_cols = df.select_dtypes(include=["object"]).columns
    for c in obj_cols:
        df[c] = df[c].map(_to_utf8)
        df[c] = df[c].map(lambda s: unicodedata.normalize("NFC", s) if isinstance(s, str) else s)
    return df

sql_out_df = load_sqlite_data(sqlite_df['sqlite_paths'].iloc[0])
sql_out_df

In [ ]:
load_sqlite_data(sqlite_df['sqlite_paths'].iloc[0])['name'] = sql_out_df['name'].str.lower()

In [ ]:
load_data('spider_data/database/wta_1/wta_1.sqlite', 'players')

In [ ]:
from tqdm.autonotebook import tqdm

def create_database_if_not_exists(pg_url, dbname):
    # Remove dbname from URL to connect to default 'postgres' db
    url = make_url(pg_url)
    default_url = url.set(database='postgres')
    engine = create_engine(default_url)
    with engine.connect() as conn:
        # Check if database exists
        result = conn.execute(text(f"SELECT 1 FROM pg_database WHERE datname=:dbname"), {"dbname": dbname})
        exists = result.scalar() is not None

        if not exists:
            conn.execute(text(f"commit"))
            conn.execute(text(f'CREATE DATABASE "{dbname}" WITH ENCODING \'UTF8\' TEMPLATE template1'))
            print(f"Database '{dbname}' created.")
        else:
            print(f"Database '{dbname}' already exists.")
    engine.dispose()

def migrate_all_sqlite_to_postgres(sqlite_df, pg_url, if_exists='replace'):
    """
    For each row in sqlite_df, migrates all tables from the SQLite file into a separate Postgres schema.
    The schema name is taken from the 'schema_name' column.
    """
    try:
        url = make_url(pg_url)
        # Ensure database exists
        create_database_if_not_exists(pg_url, url.database)
        pg_engine = create_engine(pg_url)

        schema = 'bronze'
        # Create schema if not exists, using a direct connection and commit
        with pg_engine.begin() as conn:
            conn.execute(text(f'CREATE SCHEMA IF NOT EXISTS {schema}'))

        for idx, row in tqdm(sqlite_df.iterrows(), total=sqlite_df.shape[0], desc="Migrating SQLite to Postgres"):
            sqlite_path = row['sqlite_paths']
            db_name = row['schema_name']

            tables_df = load_sqlite_data(sqlite_path)
            for table in tables_df['name']:
                df = load_data(sqlite_path, table)
                df.to_sql(f'{db_name}__{table}', pg_engine, schema=schema, if_exists=if_exists, index=False)
                #print(f"Migrated {table} from {sqlite_path} to schema {schema}")
    except Exception as e:
        print(f"Failed for {sqlite_path}: {e}")

pg_url = "postgresql+psycopg2://postgres:root@localhost:5432/spider_dataset"
migrate_all_sqlite_to_postgres(sqlite_df, pg_url)

In [ ]:
def drop_database(pg_url, dbname):
    """
    Drops the entire Postgres database specified by dbname. Must run outside a transaction block.
    """
    from sqlalchemy.engine.url import make_url
    import psycopg2

    conn = psycopg2.connect(pg_url)
    conn.set_isolation_level(psycopg2.extensions.ISOLATION_LEVEL_AUTOCOMMIT)
    cur = conn.cursor()

    # Terminate all connections to the target database
    cur.execute(f'''
        SELECT pg_terminate_backend(pid)
        FROM pg_stat_activity
        WHERE datname = %s AND pid <> pg_backend_pid()
    ''', (dbname,))
    
    # Drop the database
    cur.execute(f'DROP DATABASE IF EXISTS "{dbname}"')
    print(f"Database '{dbname}' dropped.")
    cur.close()
    conn.close()
    
# pg_url = "postgresql+psycopg2://postgres:root@localhost:5432/spider_dataset"
pg_url = "host=localhost port=5432 dbname=postgres user=postgres password=root"
drop_database(pg_url, 'spider_dataset')

In [ ]:
# Create DB
# pgloader sqlite:///spider_data/database/academic/academic.sqlite postgresql://postgres:root@127.0.0.1:5433/testdb

In [ ]:
# docker run --name mysql -e MYSQL_ROOT_PASSWORD=root -p 3306:3306 -d mysql:latest
# git clone https://github.com/cloudera/spiderman.git
# python scripts/load_dataset.py 'mysql+mysqlconnector://root:root@localhost:3306'

In [7]:
from sqlalchemy import create_engine, text

# Connect to MySQL (no default DB)
conn_str = 'mysql+mysqlconnector://root:root@localhost:3306'
engine = create_engine(conn_str)

# Get all non-system databases
with engine.connect() as conn:
    dbs = conn.execute(text("SHOW DATABASES")).fetchall()
    dbs = [row[0] for row in dbs if row[0] not in ('information_schema', 'mysql', 'performance_schema', 'sys')]

    all_tables = []
    for db in dbs:
        tables = conn.execute(
            text("SELECT table_name FROM information_schema.tables WHERE table_schema=:db"),
            {"db": db}
        ).fetchall()
        for t in tables:
            all_tables.append({"database": db, "table": t[0]})

import pandas as pd
all_tables = pd.DataFrame(all_tables)
all_tables

       database                    table
0    activity_1                 Activity
1    activity_1                  Faculty
2    activity_1  Faculty_Participates_in
3    activity_1          Participates_in
4    activity_1                  Student
..          ...                      ...
774    wrestler              Elimination
775    wrestler                 wrestler
776       wta_1                  matches
777       wta_1                  players
778       wta_1                 rankings

[779 rows x 2 columns]

In [11]:
def create_mindsdb_connection_statement(host, port, user, password, database_name):
    mindsdb_conn_str = f"""CREATE DATABASE mysql_{database_name}
WITH ENGINE = 'mysql'
PARAMETERS = {{
    'host': '{host}',
    'port': {port},
    'user': '{user}',
    'password': '{password}',
    'database': '{database_name}'
}};
"""
    return mindsdb_conn_str

for db in all_tables['database'].unique():
    print(create_mindsdb_connection_statement(
        host='mysql',
        port=3306,
        user='root',
        password='root',
        database_name=db,
    ))

CREATE DATABASE mysql_activity_1
WITH ENGINE = 'mysql'
PARAMETERS = {
    'host': 'mysql',
    'port': 3306,
    'user': 'root',
    'password': 'root',
    'database': 'activity_1'
};

CREATE DATABASE mysql_aircraft
WITH ENGINE = 'mysql'
PARAMETERS = {
    'host': 'mysql',
    'port': 3306,
    'user': 'root',
    'password': 'root',
    'database': 'aircraft'
};

CREATE DATABASE mysql_allergy_1
WITH ENGINE = 'mysql'
PARAMETERS = {
    'host': 'mysql',
    'port': 3306,
    'user': 'root',
    'password': 'root',
    'database': 'allergy_1'
};

CREATE DATABASE mysql_apartment_rentals
WITH ENGINE = 'mysql'
PARAMETERS = {
    'host': 'mysql',
    'port': 3306,
    'user': 'root',
    'password': 'root',
    'database': 'apartment_rentals'
};

CREATE DATABASE mysql_architecture
WITH ENGINE = 'mysql'
PARAMETERS = {
    'host': 'mysql',
    'port': 3306,
    'user': 'root',
    'password': 'root',
    'database': 'architecture'
};

CREATE DATABASE mysql_assets_maintenance
WITH ENGINE = 'mysql'
PARAMETERS = {
    'host': 'mysql',
    'port': 3306,
    'user': 'root',
    'password': 'root',
    'database': 'assets_maintenance'
};

CREATE DATABASE mysql_baseball_1
WITH ENGINE = 'mysql'
PARAMETERS = {
    'host': 'mysql',
    'port': 3306,
    'user': 'root',
    'password': 'root',
    'database': 'baseball_1'
};

CREATE DATABASE mysql_battle_death
WITH ENGINE = 'mysql'
PARAMETERS = {
    'host': 'mysql',
    'port': 3306,
    'user': 'root',
    'password': 'root',
    'database': 'battle_death'
};

CREATE DATABASE mysql_behavior_monitoring
WITH ENGINE = 'mysql'
PARAMETERS = {
    'host': 'mysql',
    'port': 3306,
    'user': 'root',
    'password': 'root',
    'database': 'behavior_monitoring'
};

CREATE DATABASE mysql_bike_1
WITH ENGINE = 'mysql'
PARAMETERS = {
    'host': 'mysql',
    'port': 3306,
    'user': 'root',
    'password': 'root',
    'database': 'bike_1'
};

CREATE DATABASE mysql_body_builder
WITH ENGINE = 'mysql'
PARAMETERS = {
    'host': 'mysql',
    'port': 3306,
    'user': 'root',
    'password': 'root',
    'database': 'body_builder'
};

CREATE DATABASE mysql_book_2
WITH ENGINE = 'mysql'
PARAMETERS = {
    'host': 'mysql',
    'port': 3306,
    'user': 'root',
    'password': 'root',
    'database': 'book_2'
};

CREATE DATABASE mysql_browser_web
WITH ENGINE = 'mysql'
PARAMETERS = {
    'host': 'mysql',
    'port': 3306,
    'user': 'root',
    'password': 'root',
    'database': 'browser_web'
};

CREATE DATABASE mysql_candidate_poll
WITH ENGINE = 'mysql'
PARAMETERS = {
    'host': 'mysql',
    'port': 3306,
    'user': 'root',
    'password': 'root',
    'database': 'candidate_poll'
};

CREATE DATABASE mysql_car_1
WITH ENGINE = 'mysql'
PARAMETERS = {
    'host': 'mysql',
    'port': 3306,
    'user': 'root',
    'password': 'root',
    'database': 'car_1'
};

CREATE DATABASE mysql_chinook_1
WITH ENGINE = 'mysql'
PARAMETERS = {
    'host': 'mysql',
    'port': 3306,
    'user': 'root',
    'password': 'root',
    'database': 'chinook_1'
};

CREATE DATABASE mysql_cinema
WITH ENGINE = 'mysql'
PARAMETERS = {
    'host': 'mysql',
    'port': 3306,
    'user': 'root',
    'password': 'root',
    'database': 'cinema'
};

CREATE DATABASE mysql_city_record
WITH ENGINE = 'mysql'
PARAMETERS = {
    'host': 'mysql',
    'port': 3306,
    'user': 'root',
    'password': 'root',
    'database': 'city_record'
};

CREATE DATABASE mysql_climbing
WITH ENGINE = 'mysql'
PARAMETERS = {
    'host': 'mysql',
    'port': 3306,
    'user': 'root',
    'password': 'root',
    'database': 'climbing'
};

CREATE DATABASE mysql_club_1
WITH ENGINE = 'mysql'
PARAMETERS = {
    'host': 'mysql',
    'port': 3306,
    'user': 'root',
    'password': 'root',
    'database': 'club_1'
};

CREATE DATABASE mysql_coffee_shop
WITH ENGINE = 'mysql'
PARAMETERS = {
    'host': 'mysql',
    'port': 3306,
    'user': 'root',
    'password': 'root',
    'database': 'coffee_shop'
};

CREATE DATABASE mysql_college_1
WITH ENGINE = 'mysql'
PARAMETERS = {
    'host': 'mysql',
    'port': 3306,
    'user': 'root',
    'password': 'root',
    'database': 'college_1'
};

CREATE DATABASE mysql_college_2
WITH ENGINE = 'mysql'
PARAMETERS = {
    'host': 'mysql',
    'port': 3306,
    'user': 'root',
    'password': 'root',
    'database': 'college_2'
};

CREATE DATABASE mysql_college_3
WITH ENGINE = 'mysql'
PARAMETERS = {
    'host': 'mysql',
    'port': 3306,
    'user': 'root',
    'password': 'root',
    'database': 'college_3'
};

CREATE DATABASE mysql_company_1
WITH ENGINE = 'mysql'
PARAMETERS = {
    'host': 'mysql',
    'port': 3306,
    'user': 'root',
    'password': 'root',
    'database': 'company_1'
};

CREATE DATABASE mysql_company_employee
WITH ENGINE = 'mysql'
PARAMETERS = {
    'host': 'mysql',
    'port': 3306,
    'user': 'root',
    'password': 'root',
    'database': 'company_employee'
};

CREATE DATABASE mysql_company_office
WITH ENGINE = 'mysql'
PARAMETERS = {
    'host': 'mysql',
    'port': 3306,
    'user': 'root',
    'password': 'root',
    'database': 'company_office'
};

CREATE DATABASE mysql_concert_singer
WITH ENGINE = 'mysql'
PARAMETERS = {
    'host': 'mysql',
    'port': 3306,
    'user': 'root',
    'password': 'root',
    'database': 'concert_singer'
};

CREATE DATABASE mysql_county_public_safety
WITH ENGINE = 'mysql'
PARAMETERS = {
    'host': 'mysql',
    'port': 3306,
    'user': 'root',
    'password': 'root',
    'database': 'county_public_safety'
};

CREATE DATABASE mysql_course_teach
WITH ENGINE = 'mysql'
PARAMETERS = {
    'host': 'mysql',
    'port': 3306,
    'user': 'root',
    'password': 'root',
    'database': 'course_teach'
};

CREATE DATABASE mysql_cre_Doc_Control_Systems
WITH ENGINE = 'mysql'
PARAMETERS = {
    'host': 'mysql',
    'port': 3306,
    'user': 'root',
    'password': 'root',
    'database': 'cre_Doc_Control_Systems'
};

CREATE DATABASE mysql_cre_Doc_Template_Mgt
WITH ENGINE = 'mysql'
PARAMETERS = {
    'host': 'mysql',
    'port': 3306,
    'user': 'root',
    'password': 'root',
    'database': 'cre_Doc_Template_Mgt'
};

CREATE DATABASE mysql_cre_Doc_Tracking_DB
WITH ENGINE = 'mysql'
PARAMETERS = {
    'host': 'mysql',
    'port': 3306,
    'user': 'root',
    'password': 'root',
    'database': 'cre_Doc_Tracking_DB'
};

CREATE DATABASE mysql_cre_Docs_and_Epenses
WITH ENGINE = 'mysql'
PARAMETERS = {
    'host': 'mysql',
    'port': 3306,
    'user': 'root',
    'password': 'root',
    'database': 'cre_Docs_and_Epenses'
};

CREATE DATABASE mysql_cre_Drama_Workshop_Groups
WITH ENGINE = 'mysql'
PARAMETERS = {
    'host': 'mysql',
    'port': 3306,
    'user': 'root',
    'password': 'root',
    'database': 'cre_Drama_Workshop_Groups'
};

CREATE DATABASE mysql_cre_Theme_park
WITH ENGINE = 'mysql'
PARAMETERS = {
    'host': 'mysql',
    'port': 3306,
    'user': 'root',
    'password': 'root',
    'database': 'cre_Theme_park'
};

CREATE DATABASE mysql_csu_1
WITH ENGINE = 'mysql'
PARAMETERS = {
    'host': 'mysql',
    'port': 3306,
    'user': 'root',
    'password': 'root',
    'database': 'csu_1'
};

CREATE DATABASE mysql_culture_company
WITH ENGINE = 'mysql'
PARAMETERS = {
    'host': 'mysql',
    'port': 3306,
    'user': 'root',
    'password': 'root',
    'database': 'culture_company'
};

CREATE DATABASE mysql_customer_complaints
WITH ENGINE = 'mysql'
PARAMETERS = {
    'host': 'mysql',
    'port': 3306,
    'user': 'root',
    'password': 'root',
    'database': 'customer_complaints'
};

CREATE DATABASE mysql_customer_deliveries
WITH ENGINE = 'mysql'
PARAMETERS = {
    'host': 'mysql',
    'port': 3306,
    'user': 'root',
    'password': 'root',
    'database': 'customer_deliveries'
};

CREATE DATABASE mysql_customers_and_addresses
WITH ENGINE = 'mysql'
PARAMETERS = {
    'host': 'mysql',
    'port': 3306,
    'user': 'root',
    'password': 'root',
    'database': 'customers_and_addresses'
};

CREATE DATABASE mysql_customers_and_invoices
WITH ENGINE = 'mysql'
PARAMETERS = {
    'host': 'mysql',
    'port': 3306,
    'user': 'root',
    'password': 'root',
    'database': 'customers_and_invoices'
};

CREATE DATABASE mysql_customers_and_products_contacts
WITH ENGINE = 'mysql'
PARAMETERS = {
    'host': 'mysql',
    'port': 3306,
    'user': 'root',
    'password': 'root',
    'database': 'customers_and_products_contacts'
};

CREATE DATABASE mysql_customers_campaigns_ecommerce
WITH ENGINE = 'mysql'
PARAMETERS = {
    'host': 'mysql',
    'port': 3306,
    'user': 'root',
    'password': 'root',
    'database': 'customers_campaigns_ecommerce'
};

CREATE DATABASE mysql_customers_card_transactions
WITH ENGINE = 'mysql'
PARAMETERS = {
    'host': 'mysql',
    'port': 3306,
    'user': 'root',
    'password': 'root',
    'database': 'customers_card_transactions'
};

CREATE DATABASE mysql_debate
WITH ENGINE = 'mysql'
PARAMETERS = {
    'host': 'mysql',
    'port': 3306,
    'user': 'root',
    'password': 'root',
    'database': 'debate'
};

CREATE DATABASE mysql_decoration_competition
WITH ENGINE = 'mysql'
PARAMETERS = {
    'host': 'mysql',
    'port': 3306,
    'user': 'root',
    'password': 'root',
    'database': 'decoration_competition'
};

CREATE DATABASE mysql_department_management
WITH ENGINE = 'mysql'
PARAMETERS = {
    'host': 'mysql',
    'port': 3306,
    'user': 'root',
    'password': 'root',
    'database': 'department_management'
};

CREATE DATABASE mysql_department_store
WITH ENGINE = 'mysql'
PARAMETERS = {
    'host': 'mysql',
    'port': 3306,
    'user': 'root',
    'password': 'root',
    'database': 'department_store'
};

CREATE DATABASE mysql_device
WITH ENGINE = 'mysql'
PARAMETERS = {
    'host': 'mysql',
    'port': 3306,
    'user': 'root',
    'password': 'root',
    'database': 'device'
};

CREATE DATABASE mysql_document_management
WITH ENGINE = 'mysql'
PARAMETERS = {
    'host': 'mysql',
    'port': 3306,
    'user': 'root',
    'password': 'root',
    'database': 'document_management'
};

CREATE DATABASE mysql_dog_kennels
WITH ENGINE = 'mysql'
PARAMETERS = {
    'host': 'mysql',
    'port': 3306,
    'user': 'root',
    'password': 'root',
    'database': 'dog_kennels'
};

CREATE DATABASE mysql_dorm_1
WITH ENGINE = 'mysql'
PARAMETERS = {
    'host': 'mysql',
    'port': 3306,
    'user': 'root',
    'password': 'root',
    'database': 'dorm_1'
};

CREATE DATABASE mysql_driving_school
WITH ENGINE = 'mysql'
PARAMETERS = {
    'host': 'mysql',
    'port': 3306,
    'user': 'root',
    'password': 'root',
    'database': 'driving_school'
};

CREATE DATABASE mysql_e_government
WITH ENGINE = 'mysql'
PARAMETERS = {
    'host': 'mysql',
    'port': 3306,
    'user': 'root',
    'password': 'root',
    'database': 'e_government'
};

CREATE DATABASE mysql_e_learning
WITH ENGINE = 'mysql'
PARAMETERS = {
    'host': 'mysql',
    'port': 3306,
    'user': 'root',
    'password': 'root',
    'database': 'e_learning'
};

CREATE DATABASE mysql_election
WITH ENGINE = 'mysql'
PARAMETERS = {
    'host': 'mysql',
    'port': 3306,
    'user': 'root',
    'password': 'root',
    'database': 'election'
};

CREATE DATABASE mysql_election_representative
WITH ENGINE = 'mysql'
PARAMETERS = {
    'host': 'mysql',
    'port': 3306,
    'user': 'root',
    'password': 'root',
    'database': 'election_representative'
};

CREATE DATABASE mysql_employee_hire_evaluation
WITH ENGINE = 'mysql'
PARAMETERS = {
    'host': 'mysql',
    'port': 3306,
    'user': 'root',
    'password': 'root',
    'database': 'employee_hire_evaluation'
};

CREATE DATABASE mysql_entertainment_awards
WITH ENGINE = 'mysql'
PARAMETERS = {
    'host': 'mysql',
    'port': 3306,
    'user': 'root',
    'password': 'root',
    'database': 'entertainment_awards'
};

CREATE DATABASE mysql_entrepreneur
WITH ENGINE = 'mysql'
PARAMETERS = {
    'host': 'mysql',
    'port': 3306,
    'user': 'root',
    'password': 'root',
    'database': 'entrepreneur'
};

CREATE DATABASE mysql_epinions_1
WITH ENGINE = 'mysql'
PARAMETERS = {
    'host': 'mysql',
    'port': 3306,
    'user': 'root',
    'password': 'root',
    'database': 'epinions_1'
};

CREATE DATABASE mysql_farm
WITH ENGINE = 'mysql'
PARAMETERS = {
    'host': 'mysql',
    'port': 3306,
    'user': 'root',
    'password': 'root',
    'database': 'farm'
};

CREATE DATABASE mysql_film_rank
WITH ENGINE = 'mysql'
PARAMETERS = {
    'host': 'mysql',
    'port': 3306,
    'user': 'root',
    'password': 'root',
    'database': 'film_rank'
};

CREATE DATABASE mysql_flight_1
WITH ENGINE = 'mysql'
PARAMETERS = {
    'host': 'mysql',
    'port': 3306,
    'user': 'root',
    'password': 'root',
    'database': 'flight_1'
};

CREATE DATABASE mysql_flight_2
WITH ENGINE = 'mysql'
PARAMETERS = {
    'host': 'mysql',
    'port': 3306,
    'user': 'root',
    'password': 'root',
    'database': 'flight_2'
};

CREATE DATABASE mysql_flight_4
WITH ENGINE = 'mysql'
PARAMETERS = {
    'host': 'mysql',
    'port': 3306,
    'user': 'root',
    'password': 'root',
    'database': 'flight_4'
};

CREATE DATABASE mysql_flight_company
WITH ENGINE = 'mysql'
PARAMETERS = {
    'host': 'mysql',
    'port': 3306,
    'user': 'root',
    'password': 'root',
    'database': 'flight_company'
};

CREATE DATABASE mysql_game_1
WITH ENGINE = 'mysql'
PARAMETERS = {
    'host': 'mysql',
    'port': 3306,
    'user': 'root',
    'password': 'root',
    'database': 'game_1'
};

CREATE DATABASE mysql_game_injury
WITH ENGINE = 'mysql'
PARAMETERS = {
    'host': 'mysql',
    'port': 3306,
    'user': 'root',
    'password': 'root',
    'database': 'game_injury'
};

CREATE DATABASE mysql_gas_company
WITH ENGINE = 'mysql'
PARAMETERS = {
    'host': 'mysql',
    'port': 3306,
    'user': 'root',
    'password': 'root',
    'database': 'gas_company'
};

CREATE DATABASE mysql_gymnast
WITH ENGINE = 'mysql'
PARAMETERS = {
    'host': 'mysql',
    'port': 3306,
    'user': 'root',
    'password': 'root',
    'database': 'gymnast'
};

CREATE DATABASE mysql_hospital_1
WITH ENGINE = 'mysql'
PARAMETERS = {
    'host': 'mysql',
    'port': 3306,
    'user': 'root',
    'password': 'root',
    'database': 'hospital_1'
};

CREATE DATABASE mysql_hr_1
WITH ENGINE = 'mysql'
PARAMETERS = {
    'host': 'mysql',
    'port': 3306,
    'user': 'root',
    'password': 'root',
    'database': 'hr_1'
};

CREATE DATABASE mysql_icfp_1
WITH ENGINE = 'mysql'
PARAMETERS = {
    'host': 'mysql',
    'port': 3306,
    'user': 'root',
    'password': 'root',
    'database': 'icfp_1'
};

CREATE DATABASE mysql_inn_1
WITH ENGINE = 'mysql'
PARAMETERS = {
    'host': 'mysql',
    'port': 3306,
    'user': 'root',
    'password': 'root',
    'database': 'inn_1'
};

CREATE DATABASE mysql_insurance_and_eClaims
WITH ENGINE = 'mysql'
PARAMETERS = {
    'host': 'mysql',
    'port': 3306,
    'user': 'root',
    'password': 'root',
    'database': 'insurance_and_eClaims'
};

CREATE DATABASE mysql_insurance_fnol
WITH ENGINE = 'mysql'
PARAMETERS = {
    'host': 'mysql',
    'port': 3306,
    'user': 'root',
    'password': 'root',
    'database': 'insurance_fnol'
};

CREATE DATABASE mysql_insurance_policies
WITH ENGINE = 'mysql'
PARAMETERS = {
    'host': 'mysql',
    'port': 3306,
    'user': 'root',
    'password': 'root',
    'database': 'insurance_policies'
};

CREATE DATABASE mysql_journal_committee
WITH ENGINE = 'mysql'
PARAMETERS = {
    'host': 'mysql',
    'port': 3306,
    'user': 'root',
    'password': 'root',
    'database': 'journal_committee'
};

CREATE DATABASE mysql_loan_1
WITH ENGINE = 'mysql'
PARAMETERS = {
    'host': 'mysql',
    'port': 3306,
    'user': 'root',
    'password': 'root',
    'database': 'loan_1'
};

CREATE DATABASE mysql_local_govt_and_lot
WITH ENGINE = 'mysql'
PARAMETERS = {
    'host': 'mysql',
    'port': 3306,
    'user': 'root',
    'password': 'root',
    'database': 'local_govt_and_lot'
};

CREATE DATABASE mysql_local_govt_in_alabama
WITH ENGINE = 'mysql'
PARAMETERS = {
    'host': 'mysql',
    'port': 3306,
    'user': 'root',
    'password': 'root',
    'database': 'local_govt_in_alabama'
};

CREATE DATABASE mysql_local_govt_mdm
WITH ENGINE = 'mysql'
PARAMETERS = {
    'host': 'mysql',
    'port': 3306,
    'user': 'root',
    'password': 'root',
    'database': 'local_govt_mdm'
};

CREATE DATABASE mysql_machine_repair
WITH ENGINE = 'mysql'
PARAMETERS = {
    'host': 'mysql',
    'port': 3306,
    'user': 'root',
    'password': 'root',
    'database': 'machine_repair'
};

CREATE DATABASE mysql_manufactory_1
WITH ENGINE = 'mysql'
PARAMETERS = {
    'host': 'mysql',
    'port': 3306,
    'user': 'root',
    'password': 'root',
    'database': 'manufactory_1'
};

CREATE DATABASE mysql_manufacturer
WITH ENGINE = 'mysql'
PARAMETERS = {
    'host': 'mysql',
    'port': 3306,
    'user': 'root',
    'password': 'root',
    'database': 'manufacturer'
};

CREATE DATABASE mysql_match_season
WITH ENGINE = 'mysql'
PARAMETERS = {
    'host': 'mysql',
    'port': 3306,
    'user': 'root',
    'password': 'root',
    'database': 'match_season'
};

CREATE DATABASE mysql_medicine_enzyme_interaction
WITH ENGINE = 'mysql'
PARAMETERS = {
    'host': 'mysql',
    'port': 3306,
    'user': 'root',
    'password': 'root',
    'database': 'medicine_enzyme_interaction'
};

CREATE DATABASE mysql_mountain_photos
WITH ENGINE = 'mysql'
PARAMETERS = {
    'host': 'mysql',
    'port': 3306,
    'user': 'root',
    'password': 'root',
    'database': 'mountain_photos'
};

CREATE DATABASE mysql_movie_1
WITH ENGINE = 'mysql'
PARAMETERS = {
    'host': 'mysql',
    'port': 3306,
    'user': 'root',
    'password': 'root',
    'database': 'movie_1'
};

CREATE DATABASE mysql_museum_visit
WITH ENGINE = 'mysql'
PARAMETERS = {
    'host': 'mysql',
    'port': 3306,
    'user': 'root',
    'password': 'root',
    'database': 'museum_visit'
};

CREATE DATABASE mysql_music_1
WITH ENGINE = 'mysql'
PARAMETERS = {
    'host': 'mysql',
    'port': 3306,
    'user': 'root',
    'password': 'root',
    'database': 'music_1'
};

CREATE DATABASE mysql_music_4
WITH ENGINE = 'mysql'
PARAMETERS = {
    'host': 'mysql',
    'port': 3306,
    'user': 'root',
    'password': 'root',
    'database': 'music_4'
};

CREATE DATABASE mysql_musical
WITH ENGINE = 'mysql'
PARAMETERS = {
    'host': 'mysql',
    'port': 3306,
    'user': 'root',
    'password': 'root',
    'database': 'musical'
};

CREATE DATABASE mysql_network_1
WITH ENGINE = 'mysql'
PARAMETERS = {
    'host': 'mysql',
    'port': 3306,
    'user': 'root',
    'password': 'root',
    'database': 'network_1'
};

CREATE DATABASE mysql_network_2
WITH ENGINE = 'mysql'
PARAMETERS = {
    'host': 'mysql',
    'port': 3306,
    'user': 'root',
    'password': 'root',
    'database': 'network_2'
};

CREATE DATABASE mysql_news_report
WITH ENGINE = 'mysql'
PARAMETERS = {
    'host': 'mysql',
    'port': 3306,
    'user': 'root',
    'password': 'root',
    'database': 'news_report'
};

CREATE DATABASE mysql_orchestra
WITH ENGINE = 'mysql'
PARAMETERS = {
    'host': 'mysql',
    'port': 3306,
    'user': 'root',
    'password': 'root',
    'database': 'orchestra'
};

CREATE DATABASE mysql_party_host
WITH ENGINE = 'mysql'
PARAMETERS = {
    'host': 'mysql',
    'port': 3306,
    'user': 'root',
    'password': 'root',
    'database': 'party_host'
};

CREATE DATABASE mysql_party_people
WITH ENGINE = 'mysql'
PARAMETERS = {
    'host': 'mysql',
    'port': 3306,
    'user': 'root',
    'password': 'root',
    'database': 'party_people'
};

CREATE DATABASE mysql_performance_attendance
WITH ENGINE = 'mysql'
PARAMETERS = {
    'host': 'mysql',
    'port': 3306,
    'user': 'root',
    'password': 'root',
    'database': 'performance_attendance'
};

CREATE DATABASE mysql_perpetrator
WITH ENGINE = 'mysql'
PARAMETERS = {
    'host': 'mysql',
    'port': 3306,
    'user': 'root',
    'password': 'root',
    'database': 'perpetrator'
};

CREATE DATABASE mysql_pets_1
WITH ENGINE = 'mysql'
PARAMETERS = {
    'host': 'mysql',
    'port': 3306,
    'user': 'root',
    'password': 'root',
    'database': 'pets_1'
};


In [4]:
# Dremio
import requests
"""
curl -X POST 'http://{hostname}/apiv2/login' \
--header 'Content-Type: application/json' \
--data-raw '{
"userName": "dremio",
"password": "dremio123"
}'
"""

token = None
hostname = "localhost:9047"
response = requests.post(f'http://{hostname}/apiv2/login', headers={'Content-Type': 'application/json'}, json={
    "userName": "root",
    "password": "Keyrus@123"
})
if response.status_code == 200:
    print("Login successful")
    token = response.json().get('token')

    print("Token:", token)

else:
    print("Login failed")
    print("Response:", response.text)

Login successful
Token: sj6ehekfi9rh690qeof9or3gra

In [6]:
# Send a sql query to "/api/v3/sql" from dremio

"""
curl -X POST 'https://{hostname}/api/v3/sql' \
--header 'Authorization: Bearer <dremioAccessToken>' \
--header 'Content-Type: application/json' \
--data-raw '{
  "sql": "SELECT * FROM Samples.\"samples.dremio.com\".\"SF weather 2018-2019.csv\""
}'
"""

sql_query = "SELECT * FROM Spider.\"activity_1\".\"Activity\";"

response = requests.post(f'http://{hostname}/api/v3/sql', headers={
    'Content-Type': 'application/json',
    'Authorization': f'Bearer {token}'
}, json={
    "sql": sql_query
})

if response.status_code == 200:
    print("Query executed successfully")
    print("Response:", response.json())
else:
    print("Query execution failed")
    print("Response:", response.text)

Query executed successfully
Response: {'id': '17611cd7-efe6-28ee-6f4e-e0f8ec439000'}

In [7]:
import time
import requests

HOST = "localhost:9047"

def get_token():
    response = requests.post(f'http://{HOST}/apiv2/login', headers={'Content-Type': 'application/json'}, json={
        "userName": "root",
        "password": "Keyrus@123"
    })
    if response.status_code == 200:
        print("Login successful")
        token = response.json().get('token')
    return token

def submit_sql(host, token, sql):
    r = requests.post(
        f"http://{host}/api/v3/sql",
        headers={"Authorization": f"Bearer {token}", "Content-Type": "application/json"},
        json={"sql": sql},
        timeout=30,
    )
    r.raise_for_status()
    return r.json()["id"]

def wait_for_job(host, token, job_id, poll_secs=1.0, max_wait=300):
    start = time.time()
    while True:
        r = requests.get(
            f"http://{host}/api/v3/job/{job_id}",
            headers={"Authorization": f"Bearer {token}"},
            timeout=30,
        )
        r.raise_for_status()
        info = r.json()
        state = info.get("jobState") or info.get("state")
        if state in ("COMPLETED", "FAILED", "CANCELED"):
            return state, info
        if time.time() - start > max_wait:
            raise TimeoutError(f"Job {job_id} did not finish in {max_wait}s (last state={state})")
        time.sleep(poll_secs)

def fetch_results(host, token, job_id, batch_size=500):
    offset = 0
    all_rows = []
    columns = None

    while True:
        r = requests.get(
            f"http://{host}/api/v3/job/{job_id}/results",
            headers={"Authorization": f"Bearer {token}"},
            params={"offset": offset, "limit": batch_size},
            timeout=60,
        )
        r.raise_for_status()
        payload = r.json()
        if columns is None:
            columns = payload.get("columns")  # list of column metadata
        rows = payload.get("rows", [])
        if not rows:
            break
        all_rows.extend(rows)
        offset += len(rows)
    return columns, all_rows

In [9]:
import pandas as pd

TOKEN = get_token()

SQL = 'SELECT * FROM Spider."activity_1"."Activity";'
# --- run it ---
job_id = submit_sql(HOST, TOKEN, SQL)
state, meta = wait_for_job(HOST, TOKEN, job_id)

if state != "COMPLETED":
    print(f"Job {job_id} ended with state={state}")
    print(meta)  # includes error info if FAILED
else:
    cols, rows = fetch_results(HOST, TOKEN, job_id)
    print("Columns:", cols)
    print("First 5 rows:", rows[:5])

    df = pd.DataFrame(rows, columns=cols)
    print("DataFrame:")
    print(df.head())

Login successful
Columns: None
First 5 rows: [{'actid': 770, 'activity_name': 'Mountain Climbing'}, {'actid': 771, 'activity_name': 'Canoeing'}, {'actid': 772, 'activity_name': 'Kayaking'}, {'actid': 773, 'activity_name': 'Spelunking'}, {'actid': 776, 'activity_name': 'Extreme Canasta'}]
DataFrame:
   actid      activity_name
0    770  Mountain Climbing
1    771           Canoeing
2    772           Kayaking
3    773         Spelunking
4    776    Extreme Canasta